<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gitstudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".LeaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,NewApi">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Tabhost工具类 on -->
        <activity android:name=".fragmenttabhostutils.FragmentTabhostActivity" />
        <activity android:name=".fragmenttabhostutils.QuickStartActivity" />
        <activity android:name=".fragmenttabhostutils.CustomInXmlActivity" />
        <activity android:name=".fragmenttabhostutils.CustomInJavaActivity" />
        <activity android:name=".fragmenttabhostutils.UseInFragment" />
        <activity android:name=".guocustomview.GuoCustomViewActivity" />
        <activity android:name=".guocustomview.zihuiview.ZiHuiViewActivity" />
        <activity android:name=".guocustomview.zuheview.ZuHeViewActivity" />
        <activity android:name=".guocustomview.JiChengViewActivity" />
        <!-- Tabhost工具类  off -->
        <!-- 通用的广告栏控件 on -->
        <activity android:name=".convenientbanner.ConvenientBannerActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerLocalActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerLocalPageActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerNetActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerNetPageActivity" />
        <activity android:name=".convenientbanner.recyclerviewdemo.ConvenientBannerRecycleActivity" />
        <!-- 通用的广告栏控件  off -->
        <!-- 新手引导界面ShowcastView on -->
        <activity android:name=".showcastview.ShowCastViewActivity">
            <item android:name="windowNoTitle">
                true
            </item>
        </activity>
        <activity android:name=".showcastview.ActionItemsSampleActivity" />
        <activity android:name=".showcastview.FragmentDemoActivity" />
        <activity android:name=".showcastview.EventsActivity" />
        <activity android:name=".showcastview.SingleShotActivity" />
        <activity android:name=".showcastview.animations.AnimationSampleActivity" />
        <activity android:name=".showcastview.CustomTextActivity" />
        <activity android:name=".showcastview.CustomShowcaseActivity" />
        <activity android:name=".showcastview.MemoryManagementTesting" />
        <activity android:name=".showcastview.legacy.MultipleShowcaseSampleActivity" />
        <!-- 新手引导界面ShowcastView  off -->
        <!-- 屏幕适配on -->
        <activity android:name=".fitscreenend.FitScreenActivity" />

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- 屏幕适配off -->
        <!-- 仿支付宝手势密码解锁 on -->
        <activity
            android:name=".lockscreen.LockScreenActivity"
            android:theme="@style/Splash_Theme" />
        <activity
            android:name=".lockscreen.SecondLockScreenActivity"
            android:theme="@style/Splash_Theme" />
        <activity android:name=".lockscreen.CreateGestureActivity" />
        <activity android:name=".lockscreen.GestureLoginActivity" />
        <!-- 仿支付宝手势密码解锁 off -->
        <activity android:name=".recycleview.RecycleViewActivity" />
        <activity android:name=".horizontalscrollselectedview.HorizontalScrollSelectedViewActivity" />
        <activity android:name=".collapsingtoolbarlayout.CollapsingToolbarLayoutActivity" />
        <activity android:name=".dynamicaddview.DynamicAddViewActivity" />
        <activity android:name=".dynamicaddview.ActualEffectActivity" />
        <activity android:name=".listview.ListViewDemoActivity" />
        <activity android:name=".listview.ListViewAddDeleteItemActivity" />
        <activity android:name=".listview.ListDemoActivity" />
        <activity android:name=".listview.ListDemo2Activity" />
        <activity android:name=".popupwindow.PopupWindowSeriesActivity" />
        <activity android:name=".popupwindow.popseries.BaseActivity" />
        <activity android:name=".popupwindow.popseries.PopupWindowActivity" />
        <activity
            android:name=".datetimedialog.DateTimeDialogActivity"
            android:theme="@style/AppBaseTheme" />
        <activity android:name=".datetimedialog.sec.SecDateTimeDialogActivity" />
        <activity android:name=".androidpicker.AndroidPickerActivity" />
        <activity android:name=".androidpicker.NestActivity" />
        <activity android:name=".base.CuiBaseActivity" />

        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!--
           默认竖屏，点击全屏后再横屏，
            那么activity必须配置android:configChanges="orientation|screenSize"
           这样一来，旋转屏幕，只会调用onConfigurationChanged，不会创建新activity。
            不然的话，代码中设置横屏的时候，都会新建一个Activity，
            那样就没办法实现点击就横屏全屏了。
        -->

        <activity
            android:name=".webviewvideo.MyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true" />
        <activity android:name=".knowledge.KnowledgeActivity" />
        <activity android:name=".knowledge.ToastLoopActivity" />
        <activity android:name=".knowledge.WebView1Activity" />
        <activity android:name=".knowledge.WebView2Activity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".OCRshibie.OCRActivity" />
        <activity android:name=".xrcycleview.XRecycleViewDemoActivity" />
        <activity android:name=".xrcycleview.LinearActivity" />
        <activity android:name=".xrcycleview.GridActivity" />
        <activity android:name=".xrcycleview.MultiHeaderActivity" />
        <activity android:name=".horizontalscrollview.HorizontalScrollViewActivity" />
        <activity android:name=".horizontalscrollview.FirstHorizontalScrollViewActivity" />
        <activity android:name=".horizontalscrollview.SecondHorizontalScrollViewActivity" />
        <activity android:name=".expandlistviewtest.ExpandListViewDemoActivity" />
        <activity android:name=".expandlistviewtest.ExpandListViewFirstActivity" />
        <activity android:name=".expandlistviewtest.ExpandListViewSecondActivity" />
        <activity android:name=".oneandallcheck.AllCheckedActivity" />
        <activity android:name=".oneandallcheck.ListViewItemAllCheckedActivity" />
        <activity android:name=".oneandallcheck.RecrcleViewItemAllCheckedActivity" />
        <activity android:name=".tablayout.TabLayoutActivity" />
        <activity android:name=".thirdliarbry.EventBusFirstActivity" />
        <activity android:name=".thirdliarbry.eventbus.EventBusSecondActivity" />
        <activity android:name=".thirdliarbry.eventbus.EventBusThirdActivity" />
        <activity android:name=".tablayout.verticaltablayout.VerticalTablayoutActivity" />
        <activity android:name=".watermark.WaterMarkActivity" />
        <activity android:name=".alarmmanager.AlarmManagerActivity" />
        <!-- <receiver android:name=".alarmmanager.AlarmReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.liangdianshui.TIMER_ACTION_REPEATING"></action> -->
        <!-- <action android:name="com.liangdianshui.TIMER_ACTION"></action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".permission.SecondPermissionActivity" />
        <activity android:name=".permission.PerActivity" />
        <activity android:name=".pulltorefreshtest.PullTestActivity" />
        <activity android:name=".pulltorefreshtest.ScrollPullToRefreshActivity" />
        <activity android:name=".pulltorefreshtest.WebViewPullToRefreshActivity" />
        <activity android:name=".expandlistviewtest.MultiItemExpandListViewActivity" />
        <activity android:name=".popupwindow.custompop.CustomPopupActivity" />
        <activity android:name=".popupwindow.multipop.MultiPopupActivity" />
        <activity android:name=".popupwindow.multipop.OriginActivity" />
        <activity android:name=".lockscreen.GuangGaoActivity" />
        <activity android:name=".history.SearchHistoryActivity" />
        <activity android:name=".oneandallcheck.program.SingleAndAllSelectActivity" />
        <activity android:name=".pulltorefreshtest.SecListViewActivity" />
        <activity android:name=".pulltorefreshtest.SecScrollViewActivity" />
        <activity android:name=".pulltorefreshtest.SecTextViewActivity" />
        <activity android:name=".pulltorefreshtest.SecImageViewActivity" />
        <activity android:name=".pulltorefreshtest.SecWebViewActivity" />
        <activity android:name=".pulltorefreshtest.SecGridViewActivity" />
        <activity android:name=".pulltorefreshtest.SecExpandViewActivity" />
        <activity android:name=".listview.ListDemo3Activity"></activity>
    </application>

</manifest>