<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gitstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tabhost工具类 on -->
        <activity android:name=".fragmenttabhostutils.FragmentTabhostActivity" />
        <activity android:name=".fragmenttabhostutils.QuickStartActivity" />
        <activity android:name=".fragmenttabhostutils.CustomInXmlActivity" />
        <activity android:name=".fragmenttabhostutils.CustomInJavaActivity" />
        <activity android:name=".fragmenttabhostutils.UseInFragment" />
        <activity android:name=".guocustomview.GuoCustomViewActivity" />
        <activity android:name=".guocustomview.zihuiview.ZiHuiViewActivity" />
        <activity android:name=".guocustomview.zuheview.ZuHeViewActivity" />
        <activity android:name=".guocustomview.JiChengViewActivity" />
        <!-- Tabhost工具类  off -->
        <!-- 通用的广告栏控件 on -->
        <activity android:name=".convenientbanner.ConvenientBannerActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerLocalActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerLocalPageActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerNetActivity" />
        <activity android:name=".convenientbanner.ConvenientBannerNetPageActivity" />
        <activity android:name=".convenientbanner.recyclerviewdemo.ConvenientBannerRecycleActivity" />
        <!-- 通用的广告栏控件  off -->
        <!-- 新手引导界面ShowcastView on -->
        <activity android:name=".showcastview.ShowCastViewActivity">
            <item android:name="windowNoTitle">
                true
            </item>
        </activity>
        <activity android:name=".showcastview.ActionItemsSampleActivity" />
        <activity android:name=".showcastview.FragmentDemoActivity" />
        <activity android:name=".showcastview.EventsActivity" />
        <activity android:name=".showcastview.SingleShotActivity" />
        <activity android:name=".showcastview.animations.AnimationSampleActivity" />
        <activity android:name=".showcastview.CustomTextActivity" />
        <activity android:name=".showcastview.CustomShowcaseActivity" />
        <activity android:name=".showcastview.MemoryManagementTesting" />
        <activity android:name=".showcastview.legacy.MultipleShowcaseSampleActivity" />
        <!-- 新手引导界面ShowcastView  off -->
        <!-- 屏幕适配on -->
        <activity android:name=".fitscreenend.FitScreenActivity" />

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- 屏幕适配off -->
        <!-- 仿支付宝手势密码解锁 on -->
        <activity android:name=".lockscreen.LockScreenActivity" />
        <activity android:name=".lockscreen.CreateGestureActivity" />
        <activity android:name=".lockscreen.GestureLoginActivity" />
        <!-- 仿支付宝手势密码解锁 off -->
        <activity android:name=".recycleview.RecycleViewActivity" />
        <activity android:name=".horizontalscrollselectedview.HorizontalScrollSelectedViewActivity" />
        <activity android:name=".collapsingtoolbarlayout.CollapsingToolbarLayoutActivity"></activity>
    </application>

</manifest>